.grid_three_section{
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
    /* justify-items: center; */
    place-items: center;
    /* gap: 1rem; */
}

.color_change{
    background-color: rgb(13, 151, 214);
    color: white;
}

/* @media (max-width:1270px){

} */


@media (max-width:1024px){
    .grid_three_section{
        grid-template-columns: 1fr ;
    }

    .grid_three_section  svg {
        display: none;
    }
}



.PetrolPump-invoices{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* place-items: center; */
    /* align-items: center; */
    gap: 3rem;
    background-color: white;
}

.PetrolPump-invoices h4 {
    font-size: 15px;
    color: rgb(13, 151, 214);
    margin-bottom: 1rem;
}



@media (max-width:980px){
    .PetrolPump-invoices {
        display: grid;
        grid-template-columns: 1fr;
    }
}




/* faq section */
.faq-container{
    background-color: whitesmoke;
    padding: 2rem 3rem; 
}

.faq-container h3 {
    margin: 0;
    font-size: 2rem;
}

.faq-container span {
    height: 15px;
    width: 15px;
    padding: 1rem;
    border-radius: 50%;
    color: white;
    background-color: rgb(13, 151, 214);
}




.faq-header{
    cursor: pointer;
}

.faq-question{
    padding-top: 3rem;
    cursor: pointer;
}


.faq-items-second{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.visiblity {
    display: block;
}


.hidden {
    display: none;
}


/* accordian */
.faq-header-accordian{
    cursor: pointer;
    background-color: whitesmoke;
    padding: 2rem 2rem;
}


.accordian-containers{
    /* display: flex; */
    /* flex-wrap: wrap; */

    display: grid;
    grid-template-columns: 1fr 1fr;

}

.allfaq-question{
    flex: 1 0 100%;
    max-width: 100%;
    cursor: pointer;
}

.faq-image-container{
    flex: 1 0 100%;
    max-width: 100%;
}

